{% extends "shared/foundation_content_only.html" %}

{% block content %}

    <div class="form-container">
        <form action="" method="POST">
            {{ form.csrf_token() }}

            <label>{{ form.old_password.label(class_="label") }}</label>
            {{ form.old_password(class_="post_title input") }}

            <label>{{ form.new_password.label(class_="label") }}</label>
            {{ form.new_password(class_="post_title input") }}

            <button type="submit" class="btn">Update</button>
        </form>
    </div>

    <style>
        .form-container {
            width: 30%;
            min-width: 400px;
            margin: auto;
            display: flex;
            justify-content: center;
        }

        form {
            width: 100%;
        }
    </style>

{% endblock %}