{% extends "shared/foundation_content_only.html" %}

{% block content %}

    <style>
        .form-container {
            width: 30%;
            min-width: 400px;
            margin: auto;
            display: flex;
            justify-content: center;
        }

        form {
            width: 100%;
        }
    </style>

    <div class="form-container">
        <form action="" method="POST">
            {{ form.csrf_token() }}

            <label>{{ form.email.label(class_="label") }}</label>
            {{ form.email(class_="post_title input") }}

            <label>{{ form.password.label(class_="label") }}</label>
            {{ form.password(class_="post_title input") }}

            <button class="btn" type="submit">Login</button>
        </form>
    </div>

{% endblock %}