{% macro post_preview(post_id, post_title, post_subtitle, post_date, post_content) %}
    <style>
        .post {
            margin-bottom: 2rem;
            position: relative;
            display: flex;
            flex-direction: column;            
        }

        .post:hover .post-header {
            border-left: 2px solid #383838;
        }

        .post:hover .post-preview::before {
            content: '';
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
            background: linear-gradient(transparent 60%, #fcfcfc);
            position: absolute;
        }

        .post-header {
            display: block;
            margin-bottom: 1rem;
            border-left: 1px solid #5e5e5e;
            padding-left: 1rem;
        }

        .post-preview {
            height: 10rem;
            display: block;
            overflow: hidden;
            position: relative;
            padding-left: 1rem;
        }

        .post-preview::before {
            content: '';
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
            background: linear-gradient(transparent 40%, #fcfcfc);
            position: absolute;
        }

        .post-footer {
            display: block;
            background: inherit;
            padding-top: 1rem;
            padding-bottom: 1rem;
            padding-left: 1rem;
        }
    </style>
    <div class="post">
        <a href="{{ url_for('reader_bp.read_post', post_id=post_id) }}">
            <div class="post-header">
                <h1 class>{{ post_title|safe }}</h1>
                <h2 class="text-muted h3">{{ post_subtitle|safe }}</h2>
            </div>
            <div class="post-preview">
                {{ post_content|safe }}
            </div>
            <div class="post-footer">
                <p class="mt-2 text-right">{{ post_date|display_date()|safe }}</p>
            </div>
        </a>
    </div>
{% endmacro %}

