{% macro post_preview(post_id, post_title, post_subtitle, post_date, post_content) %}
    <div class="post_preview">
        <a href="{{ url_for('reader_bp.read_post', post_id=post_id) }}">
            <h1>{{ post_title|safe }}</h1>
            <h2 class="text-muted h3">{{ post_subtitle|safe }}</h2>
            
            <p class="mt-2 text-justified">{{ post_content|truncate(200, True, "...", 3)|strip_p_tag }}</p>
            <p class="mt-2 text-right">{{ post_date|display_date()|safe }}</p>
        </a>
    </div>
{% endmacro %}

