<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>random.choice(articles)</title>
    <!--{{ url_for('static', filename='css/main.css') }}-->

    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">

<link href="https://fonts.googleapis.com/css2?family=Itim&display=swap" rel="stylesheet"> </head>
<body>

    <div id="header">
        {% block header %}
            {% include "shared/header.html" %}
        {% endblock %}
    </div>

    <div id="left_nav">
        {% block left_nav %}
        {% endblock %}
    </div>

    <div id="content_container">
        {% if current_user %}
            </span>Hi, {{ current_user.first_name }}</span>
        {% endif %}
        {% block content %}
        {% endblock %}
    </div>
    
</body>
</html>