<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>random.choice(articles)</title>
    <!--{{ url_for('static', filename='css/main.css') }}-->

    <link href="{{ url_for('static', filename='css/creator_main.css') }}" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Itim&display=swap" rel="stylesheet">
</head>
<body>

    <div id="header">
        {% block header %}
            {% include "shared/header.html" %}
        {% endblock %}
    </div>

    <div id="left_gutter"></div>

    <div id="content_container">
        Current User: {{ current_user }}        
        {% block content %}
        {% endblock %}
    </div>

    <div id="right_gutter"></div>
    
</body>
</html>