<style>
    .other-posts h3 {
        margin-bottom: 1rem;
    }

    .other-post {
        border-left: 1px solid #5e5e5e;
        height: 30px;
        padding-left: 1rem;
        display: flex;
        align-items: center;
        margin-bottom: 1rem;
    }

    .other-post:hover {
        font-weight: bold;
        border-left: 2px solid #383838;
    }

    .other-post a {
    }    
</style>

<div class="other-posts">
<h3>Other Posts:</h3>

{% if other_posts and other_posts|length > 0 %}
{% for p in other_posts %}
    <p class="other-post"><a href="{{ url_for('reader_bp.read_post', post_id=p.post_id) }}">{{ p.post_title|truncate(60, False, "...") }}</a></p>
{% endfor %}
{% else %}
    <p>No other posts...</p>
{% endif %}
</div>