body {
    box-sizing: border-box;
    background-color: #fcfcfc;
    color: #383838;
    font-family: "Work Sans", sans-serif;
}

h1 {
    font-size: 2.3em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.7em;
}

h4 {
    font-size: 1.5em;
}

h5 {
    font-size: 1.3em;
}

h6 {
    font-size: 1.1em;
}

a {
    text-decoration: none;
    color: inherit;
}

/* INPUTS */

input {
    height: 2rem;
    margin: .3rem 0 .8rem 0;
    padding: .3rem;
    color: inherit;
    font-family: inherit;
    font-size: 1em;
}

.input {
    border: 1px solid #242423;
    display: block;    
    width: 100%;
}

.input:focus {
    border: 2px solid #242423;
    outline: none;
}

.input:active {
    outline: none;
    border: 2px solid #242423;
}

/* BUTTONS */

button {
    height: 2rem;
    min-width: 6rem;
    font-size: 1em;
    font-family: inherit;
    color: inherit;
    padding: .6rem 0;
    margin: .6rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn {
    background-color: #fcfcfc;
    border: solid 1px #242423;    
}

.btn:hover {
    background-color: #F1F1F1;
}

.h3 {
    font-size: 1.7em;
}

/* MARGIN UTILITIES */

.mt-2 {
    margin-top: 1em;
}

.my-2 {
    margin-top: 1em;
    margin-bottom: 1em;
}

.mx-2 {
    margin-left: 1em;
    margin-right: 1em;
}

/* TEXT UTILITIES */

.text-justified {
    text-align: justify;
}

.text-right {
    text-align: right;
}

.text-muted {
    color: #6c757d;
}