/* RESET */
/* Courtesy Alligator.io (https://alligator.io/css/minimal-css-reset/) */
html {
    box-sizing: border-box;
    font-size: 16px;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

ol, ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

/* LAYOUT */
body {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 100px minmax(auto, 1fr);
    grid-template-areas:
    "h h h h h h h h h h h h"
    "lg c c c c c c c c c c rg";
}

#header {
    grid-area: h;
}

#left_gutter {
    grid-area: lg;
    margin: 3rem 0 3rem 3rem;
}

#content_container {
    box-sizing: border-box;
    grid-area: c;
    padding: 3rem;
}

#right_gutter {
    grid-area: rg;
    margin: 3rem 0 3rem 3rem;
}

/* GENERAL STYLES */
body {
    background-color: #FAFAFA;
    font-family: "Work Sans", sans-serif;
    box-sizing: border-box;
}

h1 {
    font-size: 2.3em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.7em;
}

h4 {
    font-size: 1.5em;
}

h5 {
    font-size: 1.3em;
}

h6 {
    font-size: 1.1em;
}

/* HEADER */
#header_container {
    align-items: center;
    background-color: #FAFAFA;
    border-bottom: 1px solid #24242344;
    color: #242423;
    display: flex;
    font-family: 'Itim', cursive;
    justify-content: center;
    height: 100px;
    padding: 1.2rem 2rem;    
}

#header_brand {
    text-align: center;
    text-decoration: none;
}


/* CONTENT */
#content {
    
}

#post_title {
}

#post_subtitle {
    font-weight: 300;
}

#post_date {
    font-weight: 300;
    font-style: italic;
}

#post_content {
    padding-top: 2rem;
}

.post_preview {
    margin-bottom: 2rem;
}

/* FOOTER */