@media screen and (min-width: 360px) {
    body {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: 100px minmax(auto, 1fr);
        grid-template-areas:
        "h h h h h h h h h h h h"
        "c c c c c c c c c c c c"
        "l l l l l l l l l l l l";
    }

    #header {
        grid-area: h;
        border: 2px solid green;
    }

    #left_gutter {
        grid-area: l;
        margin: 0;
        border: 2px solid red;
    }

    #right_gutter {
        display: none;
    }

    #content_container {
        box-sizing: border-box;
        grid-area: c;
        padding: 2rem;
        border: 2px solid blue;
    }
}

@media screen and (min-width: 768px) {
    body {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: 100px minmax(auto, 1fr);
        grid-template-areas:
        "h h h h h h h h h h h h"
        "l l l l c c c c c c c c";
    }

    #header {
        grid-area: h;
        border: 2px solid green;
    }

    #left_gutter {
        grid-area: l;
        margin: 3rem 0 3rem 3rem;
        border: 2px solid red;
    }

    #right_gutter {
        display: none;
    }

    #content_container {
        box-sizing: border-box;
        grid-area: c;
        padding: 2rem;
        border: 2px solid blue;
    }
}

@media screen and (min-width: 1366px) {
    body {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: 100px minmax(auto, 1fr);
        grid-template-areas:
        "h h h h h h h h h h h h"
        "l l l c c c c c c r r r";
    }

    #header {
        grid-area: h;
        border: 2px solid green;
    }

    #left_gutter {
        grid-area: l;
        margin: 3rem 0 3rem 3rem;
        border: 2px solid red;
    }

    #right_gutter {
        display: block;
        grid-area: r;
        margin: 3rem 3rem 3rem 0;
        border: 2px solid red;
    }

    #content_container {
        box-sizing: border-box;
        grid-area: c;
        padding: 2rem;
        border: 2px solid blue;
    }
}

.post_preview {
    border: 3px solid cyan;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}