/* GENERAL STYLES */


/* HEADER */
#header_container {
    align-items: center;
    /*background-color: #fcfcfc;*/
    border-bottom: 1px solid #24242344;
    color: #242423;
    display: flex;
    font-family: 'Itim', cursive;
    justify-content: center;
    height: 100px;
    padding: 1.2rem 2rem;
    text-decoration: none;
}

#header_brand {
    text-align: center;
}

/* CONTENT */
#content {
    
}

#post_title {
}

#post_subtitle {
    font-weight: 300;
}

#post_date {
    font-weight: 300;
    font-style: italic;
}

#post_content {
    padding-top: 2rem;
}

.post_preview {
    margin-bottom: 2rem;
}

/* FOOTER */